*{
  padding: 0;
  margin: 0;
  list-style:none;
}

html, body{
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: #000;  
}

/*Configurações css definição do layout*/
.pagina{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:0px; 
  grid-template-rows: auto;     
  grid-template-areas:
  "atopo amenu amenu amenu"
  "amain amain amain amain"
  "afooter afooter afooter afooter" 
  ;                 
}


/*configurações css dos elementos que estão no topo*/
.topo{
  grid-area: atopo;
  display: flex;
  margin-top: 40px;
  margin-left: 35px;  
}


/* Configuração da logomarca*/
.logo img{
  position: fixed;
  height: 70px;
  top: 5px;
  z-index: 1;  
}


  /*Configurações css do menu começa aqui*/
  .menu{
    Position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: amenu;
    width: 100%;
    top: 0px;
    background-color: #fff;
    
  }
  
  .menu li a{
    color: black;
    background-color:#fe0000;
    padding: 15px;
  }

  .menu li a:hover{
    background-color:black;
    color: white;
    transition: .5s;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }


/*Aqui começa as configurações css da parte principal/main o meio do site*/
.principal{
  grid-area: amain;
  animation-name: principal;
  height: 740px;
  margin: auto;
  max-width: 100%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  display: flex;
}

@keyframes principal {
  0%   {background-image: url("../images/hotelpravoce1.jpg"); left:0px; top:0px;}
  
  25%  {background-image: url("../images/hotelpravoce2.jpg"); left:200px; top:0px;}
  
 
  50%  {background-image: url("../images/hotelpravoce3.jpg"); left:0px; top:0px;}
  
  
  75%  {background-image: url("../images/hotelpravoce4.jpg"); left:200px; top:0px;}
  
  100% {background-image: url("../images/hotelpravoce5.jpg"); left:200px; top:0px;}
  
 }



/*Aqui começa as configurações css do raodapé do site*/
.footer{
  background-color: #fe0000;
  grid-area: afooter;
  text-align: center;
  line-height: 40px;  
  font-size: 12px;
  margin-top: 20px;
}

.footer span{
background-color: white;  
font-weight: bold;
}





/*Daqui pra baixo é como eu vou fazer o layout responsivo*/
@media screen and (max-width:1000px) {
   
/*Aqui começa o layouto responsivo da parte do topo*/
  .topo{    
    flex-direction: column;
    justify-content:space-evenly; 
    margin-top: 75px;      
  }  
  
  
  /*Aqui começa o layouto responsivo da parte da logomarca do topo*/
  .logo img{
  margin-left: 10px;
  margin-top: -7px;
  height: 13.5%;
  }


  /*Aqui começa o layouto responsivo da parte do menu do topo*/  
  .menu{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0px;
    padding: 70px;
    margin-left: -30px;
    background-color: white;        
  }  
  
  
/*Aqui começa o layout responsivo do rodapé*/
  .footer{
  line-height: 20px;  
  font-size: 10px;
  flex-direction: column;
    justify-content:space-evenly; 
    background-color: #fe0000;
  }
  .footer span{
    display: inside;
    background-color: white;
    }
  
}


@media screen and (max-width:500px){

/*Aqui começa o layouto responsivo da parte principal o meio*/
.principal{ 
  height: 740px;
  max-width: 400px;  
  
}
}





     

            

